@model DifferentNoodleModel;

<h1>Noodle details</h1>

<ul>
    <li>Id : @Model.IdNouille</li>
    <li>Nom : @Model.Nom</li>
    <li>Viande : @Model.Viande</li>
    <li>Légume : @Model.Legume</li>
    <li>Avec sauce : @Model.Sauce</li>
</ul>