@model List<DifferentNoodleModel>

<h1>Noodles List</h1>

<a asp-action="Create">Create new noodle recipe</a>

@foreach (DifferentNoodleModel noodle in @Model)
{
    <ul>
        <li>Nom : @noodle.Nom</li>
        <li>Viande : @noodle.Viande</li>
        <a asp-action="Details" asp-route-id="@noodle.IdNouille">Details</a>
        <a asp-action="Edit" asp-route-id="@noodle.IdNouille">Edit</a>
        <a asp-action="Delete" asp-route-id="@noodle.IdNouille">Delete</a>
    </ul>
}

<a class="btn btn-success" asp-action="NoSauceMushroomNoodles">Click here to see No sauce Mushroom noodles</a>
