@model NoodleModel;

<h1>Noodle details</h1>

<ul>
    <li>Id : @Model.NoodleID</li>
    <li>Name : @Model.Name</li>
    <li>Meat : @Model.Meat</li>
    <li>Vegetable : @Model.Vegetable</li>
    <li>With Sauce : @Model.Sauce</li>
</ul>